# Ambientes virtuais
.venv/
venv/
env/
ENV/

__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

*.log
geckodriver.log
chromedriver.log
ghostdriver.log
.webdrivers/

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

.env
.env.local